annotated-types==0.7.0
dotenv==0.9.9
greenlet==3.2.1
grpcio==1.71.0
grpcio-tools==1.71.0
Jinja2==3.1.6
MarkupSafe==3.0.2
protobuf==5.29.4
protoc-gen-validate==1.2.1
psycopg2-binary==2.9.10
pydantic==2.11.3
pydantic_core==2.33.1
python-dotenv==1.1.0
setuptools==80.0.0
SQLAlchemy==2.0.40
typing-inspection==0.4.0
typing_extensions==4.13.2
validate_email==1.3
